<h3><%= family.name %></h3>

<% if (family.users.length !== 0) { %>
  <% family.users.forEach(function(user) { %>
    <div class="container-fluid list-group-item">
      <div class="row">
        <div class="col-xs-11 col-md-9">
          <%= user.local.nickname %>
        </div>

        <% if (family.creator === locals.user.local.email) { %>
        <div class="col-xs-1 col-md-3">
          <form method="POST" action="/families/<%=family.id%>/removeMember?userId=<%=user.id%>">
            <button class="pull-right clearfix btn btn-danger col-md-2" type="submit"><span class="glyphicon glyphicon-minus"></span></button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  <% }) %>

  <% if (user.local.email === family.creator) { %>
    <div class="container-fluid">
      <a href="/families/<%=family.id%>/addMember" class= "btn btn-info">Add Users</a>
    </div>
  <% } %>

<% } else { %>

  <% if (user.local.email === family.creator) { %>
    <div class="container-fluid">
      <a href="/families/<%=family.id%>/addMember" class= "btn btn-info">Add Users</a>
    </div>
  <% } %>

<% } %>

<br>

<% if (user.local.email === family.creator) { %>

<div class="container-fluid">

  <a href="/families/<%=family.id%>/edit" class="btn btn-info col-md-2">Edit Family</a>

  <form method="POST" action="/families/<%=family.id%>?_method=DELETE">
    <button class="btn btn-danger col-md-2" type="submit">Delete Family</button>
  </form>

</div>

<% } %>
