<h3><%= category.name %></h3>

<div class="list-group">
    <% category.items.forEach(function(itemList) { %>
      <a href="/items/<%=itemList.id%>" class="list-group-item default">
        <%= itemList.status%> <%= itemList.name %>
      </a>
    <%})%>
</div>

<pre><%=category.items%></pre>

<div class="container">

  <a href="/categories/<%=category.id%>/edit" class="btn btn-info col-md-2">Edit</a>

  <form method="POST" action="/categories/<%=category.id%>?_method=DELETE">
  <button class="btn btn-danger col-md-2" type="submit">Delete </button>

</div>
