
<% include ../partials/flash %>

<h3><%= category.name %></h3>

  <% if (category.items.length !== 0) {%>
    <% category.items.forEach(function(itemList) { %>
        <% if (itemList.status === 'bought') { %>

          <div class="container-fluid list-group-item">
            <form class="col-md-6" method="POST" action="/items/<%=itemList.id%>/status?_method=PUT&status=unbought">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button> <%= itemList.name %> <small style="color:grey">Posted By: <%= itemList.postedBy %></small>
            </form>


            <a class="btn btn-default col-md-3 pull-right" href="/items/<%=itemList.id%>">View</a>

          </div>

        <% } else { %>

          <div class="container-fluid list-group-item">

            <form class="col-md-7" method="POST" action="/items/<%=itemList.id%>/status?_method=PUT&status=bought">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></button> <%= itemList.name %> <small style="color:grey">Posted By: <%= itemList.postedBy %></small>
            </form>


            <a class="btn btn-default col-md-3 pull-right" href="/items/<%=itemList.id%>" role="button">View</a>

          </div>

        <% } %>
    <%})%>

    <div class="container-fluid">
      <a href="/items/add/?catId=<%=category._id%>" class= "btn btn-info">Add Item</a>
    </div>

  <% } else { %>

    <div class="container-fluid">
      <a href="/items/add/?catId=<%=category._id%>" class= "btn btn-info">Add Item</a>
    </div>
  <% } %>

<br>

<div class="container-fluid">

  <a href="/categories/<%=category.id%>/edit" class="btn btn-info col-md-2">Edit Category</a>

  <form method="POST" action="/categories/<%=category.id%>?_method=DELETE">
    <button class="btn btn-danger col-md-2" type="submit">Delete Category</button>
  </form>

</div>
