
<h3>Edit Item</h3>

<form method="POST" action="/items/<%=foundItem.id%>?_method=PUT">
  <div class="form-group">
    <label for="name">Item</label>
    <input type="name" class="form-control" name="name" id="name" value="<%=foundItem.name%>">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" name="quantity" id="quantity" value="<%=foundItem.quantity%>">
  </div>

  <label for="budget">Budget</label>
  <div class="form-group">
    <input type="text" aria-label="Amount (to the nearest dollar)" class="form-control" name="budget" id="budget" value="<%=foundItem.budget%>">
  </div>

  <div class="form-group">
    <label for="remark">Remark</label>
    <input type="text" class="form-control" name="remark" id="remark" value="<%=foundItem.remark%>">
  </div>

  <div class="form-group">
    <label for="status">Status</label>
      <div class="container-fluid">
        <div class="radio">

          <% if (foundItem.status === 'Not Bought') { %>
            <input type="radio" class="btn" name="status" id="status" value="Not Bought" checked> Not Bought<br>
            <input type="radio" class="btn" name="status" id="status" value="Bought"> Bought<br>
          <% } else { %>
            <input type="radio" class="btn" name="status" id="status" value="Not Bought"> Not Bought<br>
            <input type="radio" class="btn" name="status" id="status" value="Bought" checked> Bought<br>
          <% } %>

        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
      <input type="text" class="form-control" name="category" id="category" value="<%=foundItem.category.name%>" readonly>
    </div>

  <input type="submit" class="btn btn-info">
</form>
