<h3>Edit Item</h3>

<form method="POST" action="/items/<%=foundItemId%>?_method=PUT">
  <div class="form-group">
    <label for="name">Item</label>
    <input type="name" class="form-control" name="name" id="name" value="<%=foundItemId.name%>">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" name="quantity" id="quantity" value="<%=foundItemId.quantity%>">
  </div>

  <label for="budget">Budget</label>
  <div class="form-group">
    <input type="text" aria-label="Amount (to the nearest dollar)" class="form-control" name="budget" id="budget" value="<%=foundItemId.budget%>">
  </div>

  <div class="form-group">
    <label for="remark">Remark</label>
    <input type="text" class="form-control" name="remark" id="remark" value="<%=foundItemId.remark%>">
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <input type="text" class="form-control" name="status" id="status" value="<%=foundItemId.status%>">
  </div>


  <input type="submit" class="btn btn-info">
</form>
