<h3><%= item.name %></h3>

<p>Quantity: <%= item.quantity %></p>
<p>Budget: $<%= item.budget %></p>
<p>Remark: <%= item.remark %></p>
<p>Status: <%= item.status %></p>
<p>Category: <%= item.category.name %></p>
<p>Posted By: <%= item.postedBy %></p>

  <a href="/items/<%=item.id%>/edit" class="btn btn-info col-md-2">Edit</a>

  <form method="POST" action="/items/<%=item.id%>/?_method=DELETE">
  <button class="btn btn-danger col-md-2" type="submit">Delete</button>
</form>

<br><br>

<a href="/categories/<%=item.category.id%>" class="btn btn-default col-md-2"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>Back to List</a>
