<h3>Profile</h3>

<p>Email:
  <%=profile.local.email%>
</p>
<p>Nickname:
  <%=profile.local.nickname%>
</p>

<div class="panel panel-default">
  <div class="panel-body">
    <% if (profile.family.length === 1) { %>
      <h4>Family:</h4>
      <a type="button" class="btn btn-default btn-lg" href="/families/<%=family.id%>"><%=family.name%></a>
    <% } else if ((profile.family.length > 1)){ %>
      <h4>Families:</h4>
      <% family.forEach(function(family) { %>
          <a type="button" class="btn btn-default btn-lg" href="/families/<%=family.id%>"><%=family.name%></a>
      <% }) %>
    <% } %>

    <div>
      <a href="/families/new" class="btn btn-info btn-md">Create New Family</a>
    </div>

  </div>
</div>
